<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="order" class="com.infosys.payment.OrderService">
		<property name="orderId" value="101"></property>
		<property name="quantity" value="5"></property>
		<property name="price" value="10"></property>
		<property name="paymentService">
			<bean id="payment" class="com.infosys.payment.PaymentService">
				<property name="totalAmount" value="50"></property>
			</bean>
		</property>
	</bean>

</beans>