<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="student" class="com.infosys.university.Student">
		<property name="usn" value="1DS20CS110"></property>
		<property name="studentName" value="Nikitha"></property>
		<property name="course">
			<bean id="course" class="com.infosys.university.Course">
				<property name="courseId" value="101"></property>
				<property name="courseName" value="Python"></property>
			</bean>
		</property>
	</bean>

</beans>